body {
    background-color: rgba(27, 27, 27, 1);

    nav {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .logo {
            display: flex;
            align-items: center;
            color: white;
            font-size: larger;

            img {
                height: 43px;
                border-radius: 50%;
            }
            p {
                padding-left: 10px;
                font-weight: 500;
            }
        }
        .links {
            display: flex;
            align-items: center;
            justify-content: center;
            justify-content: space-between;
            background-color: #a8b2b3;
            font-weight: 500;
            border-radius: 50px;
            width: 300px;
            height: 50px;
        

            a{
                text-decoration: none;
                font-size: large;
                font-weight: 400;
                color: black;
                font-size: 21px;
                padding: 20px;
            }
        }

        .socials{

            img{
                height: 30px;
            }

            a{
                padding-left: 10px;
            }

            #git {
                height: 34px;
            }

        }
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card{
        max-width: 1400px;
        height:500px;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(212, 22, 22, 0.1);
        background-color: #fff;
        background-size: cover;
        background-position: center;
        color: white;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 20px;
        margin: 20px;
    }

        h1{
            font-size: 50px;
        }

        .bloc{

            p{
                font-size: 25px;
            }

            button{
                background: transparent;
                border: 2px solid white;
                color: white;
                padding: 10px 20px;
                border-radius: 25px;
                font-size: 15px;
                cursor: pointer;
                transition: background 0.3s, color 0.3s;
            }
            button:hover{
                background: white;
                color: black;
            
            }
        }
        .card1{
            background-image: url(/assets/card1.avif);
        }
        .card2{
            background-image: url(/assets/card2.avif);
        }
        .card3{
            background-image: url(/assets/card3.avif);
    
    }
}